fastapi
uvicorn
langgraph
langchain
langchain-openai
langchain-groq
langchain-huggingface
sentence-transformers
langchain-community
langchain-chroma
pydantic
pydantic-settings
sqlalchemy
psycopg2-binary
chromadb
firebase-admin
pdfplumber
APScheduler
python-dotenv
httpx
langsmith
